/* MovieList Container */
.MovieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center-align movie cards */
  gap: 20px;
  /* Add some spacing between movie cards */
  padding: 20px;
  /* Add padding to the container */
  background-color: #b32222;
  /* Set a background color */
}

/* MovieCard Link Styles */
.MovieList a {
  text-decoration: none;
  color: #333;
  /* Change link text color */
  transition: color 0.3s;
  /* Add a smooth color transition on hover */
}

.MovieList a:hover {
  color: #bd1a1a;
  /* Change link text color on hover */
}

/* Optional: Style the MovieCard component further */
.MovieCard {
  /* Add styling for each individual movie card if needed */
  border: 1px solid #b94747;
  padding: 10px;
  background-color: #854141;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}